<html>
	<head>
		<title>Denon AVR Interface</title>
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>
		<script>
			function toggleMenu(button){
				const currentURL = button.getAttribute("hx-get")
				const newURL = currentURL === "/menu/on" ? "/menu/off" : "/menu/on"
				alert(newURL)
				button.setAttribute("hx-get",newURL)
				alert(button.getAttribute("hx-get"))
			}
		</script>
<style>
body {
	background: #333;
	color: #00AA00;
}
button {
	background: #111;
	color: #00CC00;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s, color 0.3s;
}
button:hover {
	background-color: #222;
	color: #fff;
}
#arrows {
	text-align: center;
	max-width: 350px;
	border: 1px solid #122112;
	margin: 5px;
}
#arrowTop, #arrowMiddle, #arrowBottom {
	margin: 5px;
}
.darkGreen {
	background-color: #007700;
	color: #ffffff;
}
</style>
	</head>
	<body>
		<div id="inputs">
			<h3>inputs</h3>
			<button hx-get="/tv" hx-target='#log'>TV</button>
			<button hx-get="/game" hx-target='#log'>Game</button>
			<button hx-get="/music" hx-target='#log'>Music</button>
		</div>
		<div id="modes">
			<h3>Modes</h3>
			<button hx-get="/dolbyMovie" hx-target='#log'>Movie</button>
			<button hx-get="/stereo" hx-target='#log'>Stereo</button>
			<button hx-get="/direct" hx-target='#log'>Direct</button>
			<button hx-get="/dolby" hx-target='#log'>Dolby</button>
		</div>
		<div id="Controls">
			<h3>Controls</h3>
			<div id="arrows">
				<div id="arrowVol">
					<button hx-get="/vol/-5" hx-target='#log' hx-queue="true">Vol -</button>
					<button hx-get="/vol/+5" hx-target='#log' hx-queue="true">Vol +</button>
				</div>

				<div id="arrowTop">
					<button hx-get="/cursor/up" hx-target='#log'>Up</button>
				</div>
				<div id="arrowMiddle">
					<button hx-get="/cursor/left" hx-target='#log'>Left</button>
					<button hx-get="/cursor/enter" hx-target='#log'>Enter</button>
					<button hx-get="/cursor/right" hx-target='#log'>Right</button>
				</div>
				<div id="arrowBottom">
					<button hx-get="/cursor/down" hx-target='#log'>Down</button>
				</div>
				<div id="arrowRet">
					<button hx-get="/menu/on" hx-swap="outerHTML">Menu</button>
					<button hx-get="/cursor/return" hx-target='#log'>Back</button>
					<button hx-get="/input/on" hx-swap="outerHTML">Input</button>
				</div>

			</div>
		</div>
		<div id="log">Hello World</div>


	</body>
</html>
